* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 0, 165);
}



section.add {
    margin: 10px auto;
    padding: 10px;
    color: white;
    text-align: center;
    width: 60%;
    border: 4px outset rgba(30, 37, 99, 0.72);
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px #2d113a;
}

section.add input {
    border: 4px inset rgba(61, 80, 255, 0.90);
    border-radius: 40px;
    padding: 5px;
    color: rgb(201, 201, 201);
}

h1.title {
    font-size: 70px;
}

h1.number {
    margin: 10px 5px 5px 5px;
}

input {
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: white solid 2px;
    width: 50%;
}

section.toDo {
    margin: 30px 5px 5px 10px;
}

ul {
    list-style: none;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    border: 4px solid rgba(61, 80, 255, 0.90);
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px #001731;
    padding: 10px;
    width: 400px;
    height: 200px;
    margin: 5px;
    position: relative;
}

button {
    margin-left: 20px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: 4px outset rgba(61, 80, 255, 0.90);
    border-radius: 40px;
    padding: 5px;
}

.task button {
    font-size: 20px;
    margin-left: 20px;
    padding: 3px 7px;
    color: rgb(255, 0, 0);
    border: none;
    position: absolute;
    right: -2%;
    top: -6%;
    border: 3px solid red;
    border-radius: 50%;
}

i {
    font-size: 50px;
}